In [4]:
import pandas as pd

In [26]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet')

In [21]:
!uv add sqlalchemy

Resolved 119 packages in 0.57ms
Audited 11 packages in 0.12ms

In [22]:
!uv add psycopg2-binary

Resolved 119 packages in 0.56ms
Audited 11 packages in 0.12ms

In [23]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
len(df)

46912

In [28]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [29]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [34]:
df.to_sql(
    name="green_taxi_data",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"
)

46912